.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #0d171d;
}

.header-container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.header-logo {
  width: 120px;
  height: 45px;
}

.header-right {
  display: flex;
  margin-left: auto;
  flex-direction: row;
  text-decoration: none;
}

.header-right h5{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #ffff;
}

@media screen and (max-width: 350px) {
  .header-input:focus {
    max-width: 114px;
  }
}
@media screen and (min-width: 768px) {
  .header-input {
    min-width: 124px;
    padding-left: 50px;
  }

  .header-input:focus {
    max-width: 200px;
  }

  .header-container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    min-width: 1440px;
  }
}
